name: ci-test

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    # Service containers to run with `runner-job`
    services:
        # Label used to access the service container
        postgres:
        # Docker Hub image
            image: postgres:12
            # Provide the password for postgres
            env:
                POSTGRES_PASSWORD: postgres
                POSTGRES_USER: root
                POSTGRES_DB: hackhack
                
            # Set health checks to wait until postgres has started
            options: >-
                --health-cmd pg_isready
                --health-interval 10s
                --health-timeout 5s
                --health-retries 5
            ports:
                # Maps tcp port 5432 on service container to the host
                - 5432:5432
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.20
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      
    - name: Install golang-migrate
      run: |
        curl -L https://github.com/golang-migrate/migrate/releases/download/v4.16.2/migrate.linux-amd64.tar.gz | tar xvz 
        sudo mv migrate /usr/bin/migrate
    
    - name: Run migration
      run: make migrateup

    - name: Test
      run: make test